.userpage {
    background-color: rgb(171, 180, 186);
    font-size: 25px;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}

.backpage {
    font-size: 30px;
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
}

.underpage {
    display: flex;
    flex-direction: row;
}

.applypage {
    width: 700px;
    min-height: 400px;
    background-color: rgb(171, 180, 186);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.applyinstance {
    background-color: antiquewhite;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}