.disscusspage {
    border-style: inset;
    border-width: 5px;
    border-color: bisque;
    background-color: beige;
    margin-left: 10px;
    margin-right: 10px;
    height: 450px;
    overflow-y: auto;
}

.discussline {
    margin: 10px;
}

.msgtime {
    font-size: 10px;
}

.ownmsg {
    display: flex;
    flex-direction: row;
    width:500px;
    min-height: 20px;
    padding-left: 10px;
    padding-right: 5px; 
}

.msgbox {
    background-color: rgb(164, 204, 243);
    border-radius: 10px;
    min-height: 20px;
    width:400px;
    word-break:break-all;
    padding: 10px;
    margin-left: 10px;
}